In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_excel('datascienceinternchallenge.xlsx')

In [10]:
df.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56.190
1,2,92,925,90,1,cash,2017-03-03 17:38:51.999
2,3,44,861,144,1,cash,2017-03-14 04:23:55.595
3,4,18,935,156,1,credit_card,2017-03-26 12:43:36.649
4,5,18,883,156,1,credit_card,2017-03-01 04:35:10.773

**Check correctness in data if someone bought more than 10 items**

In [20]:
df[df['total_items'] > 10]

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
15,16,42,607,704000,2000,credit_card,2017-03-07 04:00:00
60,61,42,607,704000,2000,credit_card,2017-03-04 04:00:00
520,521,42,607,704000,2000,credit_card,2017-03-02 04:00:00
1104,1105,42,607,704000,2000,credit_card,2017-03-24 04:00:00
1362,1363,42,607,704000,2000,credit_card,2017-03-15 04:00:00
1436,1437,42,607,704000,2000,credit_card,2017-03-11 04:00:00
1562,1563,42,607,704000,2000,credit_card,2017-03-19 04:00:00
1602,1603,42,607,704000,2000,credit_card,2017-03-17 04:00:00
2153,2154,42,607,704000,2000,credit_card,2017-03-12 04:00:00
2297,2298,42,607,704000,2000,credit_card,2017-03-07 04:00:00
2835,2836,42,607,704000,2000,credit_card,2017-03-28 04:00:00
2969,2970,42,607,704000,2000,credit_card,2017-03-28 04:00:00
3332,3333,42,607,704000,2000,credit_card,2017-03-24 04:00:00
4056,4057,42,607,704000,2000,credit_card,2017-03-28 04:00:00
4646,4647,42,607,704000,2000,credit_card,2017-03-02 04:00:00
4868,4869,42,607,704000,2000,credit_card,2017-03-22 04:00:00
4882,4883,42,607,704000,2000,credit_card,2017-03-25 04:00:00

**Check the data of shop number 42**

In [26]:
df[df['shop_id'] == 42]

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
15,16,42,607,704000,2000,credit_card,2017-03-07 04:00:00.000
40,41,42,793,352,1,credit_card,2017-03-24 14:15:40.649
60,61,42,607,704000,2000,credit_card,2017-03-04 04:00:00.000
308,309,42,770,352,1,credit_card,2017-03-11 18:14:38.774
409,410,42,904,704,2,credit_card,2017-03-04 14:32:57.621
520,521,42,607,704000,2000,credit_card,2017-03-02 04:00:00.000
834,835,42,792,352,1,cash,2017-03-25 21:31:24.596
835,836,42,819,704,2,cash,2017-03-09 14:15:15.136
938,939,42,808,1056,3,credit_card,2017-03-13 23:43:45.330
979,980,42,744,352,1,debit,2017-03-12 13:09:03.570
1104,1105,42,607,704000,2000,credit_card,2017-03-24 04:00:00.000
1362,1363,42,607,704000,2000,credit_card,2017-03-15 04:00:00.000
1364,1365,42,797,1760,5,cash,2017-03-10 06:28:21.039
1367,1368,42,926,1408,4,cash,2017-03-13 02:38:33.953
1436,1437,42,607,704000,2000,credit_card,2017-03-11 04:00:00.000
1471,1472,42,907,1408,4,debit,2017-03-12 23:00:21.521
1512,1513,42,946,352,1,debit,2017-03-24 13:35:04.115
1520,1521,42,756,704,2,debit,2017-03-22 13:10:31.448
1562,1563,42,607,704000,2000,credit_card,2017-03-19 04:00:00.000
1602,1603,42,607,704000,2000,credit_card,2017-03-17 04:00:00.000
1911,1912,42,739,704,2,cash,2017-03-07 05:42:52.154
1929,1930,42,770,352,1,credit_card,2017-03-17 08:11:13.184
2003,2004,42,934,704,2,cash,2017-03-26 09:21:25.916
2018,2019,42,739,352,1,debit,2017-03-01 12:42:25.759
2053,2054,42,951,352,1,debit,2017-03-19 11:49:12.071
2153,2154,42,607,704000,2000,credit_card,2017-03-12 04:00:00.000
2273,2274,42,747,704,2,debit,2017-03-27 20:48:19.095
2297,2298,42,607,704000,2000,credit_card,2017-03-07 04:00:00.000
2491,2492,42,868,704,2,debit,2017-03-01 18:33:33.377
2609,2610,42,868,704,2,debit,2017-03-23 18:10:13.529
2766,2767,42,970,704,2,credit_card,2017-03-05 10:45:41.577
2835,2836,42,607,704000,2000,credit_card,2017-03-28 04:00:00.000
2969,2970,42,607,704000,2000,credit_card,2017-03-28 04:00:00.000
2987,2988,42,819,1056,3,cash,2017-03-03 09:09:25.327
3332,3333,42,607,704000,2000,credit_card,2017-03-24 04:00:00.000
3513,3514,42,726,1056,3,debit,2017-03-24 17:51:04.520
3651,3652,42,830,352,1,credit_card,2017-03-24 22:26:57.542
3697,3698,42,839,352,1,debit,2017-03-12 02:45:08.932
3903,3904,42,975,352,1,debit,2017-03-12 01:28:30.852
3998,3999,42,886,352,1,debit,2017-03-09 20:10:40.505
4056,4057,42,607,704000,2000,credit_card,2017-03-28 04:00:00.000
4231,4232,42,962,352,1,cash,2017-03-04 00:01:19.133
4294,4295,42,859,704,2,cash,2017-03-24 20:50:39.607
4326,4327,42,788,704,2,debit,2017-03-16 23:37:56.791
4421,4422,42,736,704,2,credit_card,2017-03-01 12:19:49.175
4625,4626,42,809,352,1,credit_card,2017-03-11 08:21:26.204
4646,4647,42,607,704000,2000,credit_card,2017-03-02 04:00:00.000
4745,4746,42,872,352,1,debit,2017-03-24 00:57:24.130
4767,4768,42,720,704,2,credit_card,2017-03-14 10:26:08.027
4868,4869,42,607,704000,2000,credit_card,2017-03-22 04:00:00.000
4882,4883,42,607,704000,2000,credit_card,2017-03-25 04:00:00.000

**Check order amount greater than 1500**

In [27]:
df[df['order_amount'] > 1500]

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
15,16,42,607,704000,2000,credit_card,2017-03-07 04:00:00.000
60,61,42,607,704000,2000,credit_card,2017-03-04 04:00:00.000
160,161,78,990,25725,1,credit_card,2017-03-12 05:56:56.834
490,491,78,936,51450,2,debit,2017-03-26 17:08:18.911
493,494,78,983,51450,2,cash,2017-03-16 21:39:35.400
511,512,78,967,51450,2,cash,2017-03-09 07:23:13.640
520,521,42,607,704000,2000,credit_card,2017-03-02 04:00:00.000
617,618,78,760,51450,2,cash,2017-03-18 11:18:41.848
691,692,78,878,154350,6,debit,2017-03-27 22:51:43.203
1056,1057,78,800,25725,1,debit,2017-03-15 10:16:44.830
1104,1105,42,607,704000,2000,credit_card,2017-03-24 04:00:00.000
1193,1194,78,944,25725,1,debit,2017-03-16 16:38:25.551
1204,1205,78,970,25725,1,credit_card,2017-03-17 22:32:21.438
1259,1260,78,775,77175,3,credit_card,2017-03-27 09:27:19.843
1362,1363,42,607,704000,2000,credit_card,2017-03-15 04:00:00.000
1364,1365,42,797,1760,5,cash,2017-03-10 06:28:21.039
1384,1385,78,867,25725,1,cash,2017-03-17 16:38:06.279
1419,1420,78,912,25725,1,cash,2017-03-30 12:23:42.551
1436,1437,42,607,704000,2000,credit_card,2017-03-11 04:00:00.000
1452,1453,78,812,25725,1,credit_card,2017-03-17 18:09:54.089
1529,1530,78,810,51450,2,cash,2017-03-29 07:12:01.466
1562,1563,42,607,704000,2000,credit_card,2017-03-19 04:00:00.000
1602,1603,42,607,704000,2000,credit_card,2017-03-17 04:00:00.000
2153,2154,42,607,704000,2000,credit_card,2017-03-12 04:00:00.000
2270,2271,78,855,25725,1,credit_card,2017-03-14 23:58:21.635
2297,2298,42,607,704000,2000,credit_card,2017-03-07 04:00:00.000
2452,2453,78,709,51450,2,cash,2017-03-27 11:04:04.363
2492,2493,78,834,102900,4,debit,2017-03-04 04:37:33.848
2495,2496,78,707,51450,2,cash,2017-03-26 04:38:52.497
2512,2513,78,935,51450,2,debit,2017-03-18 18:57:13.421
...,...,...,...,...,...,...,...
2818,2819,78,869,51450,2,debit,2017-03-17 06:25:50.921
2821,2822,78,814,51450,2,cash,2017-03-02 17:13:25.271
2835,2836,42,607,704000,2000,credit_card,2017-03-28 04:00:00.000
2906,2907,78,817,77175,3,debit,2017-03-16 03:45:46.089
2922,2923,78,740,25725,1,debit,2017-03-12 20:10:58.008
2969,2970,42,607,704000,2000,credit_card,2017-03-28 04:00:00.000
3085,3086,78,910,25725,1,cash,2017-03-26 01:59:26.748
3101,3102,78,855,51450,2,credit_card,2017-03-21 05:10:34.147
3151,3152,78,745,25725,1,credit_card,2017-03-18 13:13:07.198
3167,3168,78,927,51450,2,cash,2017-03-12 12:23:07.516
3332,3333,42,607,704000,2000,credit_card,2017-03-24 04:00:00.000
3403,3404,78,928,77175,3,debit,2017-03-16 09:45:04.544
3440,3441,78,982,25725,1,debit,2017-03-19 19:02:53.732
3705,3706,78,828,51450,2,credit_card,2017-03-14 20:43:14.502
3724,3725,78,766,77175,3,credit_card,2017-03-16 14:13:25.868
3780,3781,78,889,25725,1,cash,2017-03-11 21:14:49.542
4040,4041,78,852,25725,1,cash,2017-03-02 14:31:11.566
4056,4057,42,607,704000,2000,credit_card,2017-03-28 04:00:00.000
4079,4080,78,946,51450,2,cash,2017-03-20 21:13:59.919
4192,4193,78,787,77175,3,credit_card,2017-03-18 09:25:31.863
4311,4312,78,960,51450,2,debit,2017-03-01 03:02:10.223
4412,4413,78,756,51450,2,debit,2017-03-02 04:13:38.530
4420,4421,78,969,77175,3,debit,2017-03-09 15:21:34.551
4505,4506,78,866,25725,1,debit,2017-03-22 22:06:00.804
4584,4585,78,997,25725,1,cash,2017-03-25 21:48:43.570
4646,4647,42,607,704000,2000,credit_card,2017-03-02 04:00:00.000
4715,4716,78,818,77175,3,debit,2017-03-05 05:10:43.633
4868,4869,42,607,704000,2000,credit_card,2017-03-22 04:00:00.000
4882,4883,42,607,704000,2000,credit_card,2017-03-25 04:00:00.000
4918,4919,78,823,25725,1,cash,2017-03-15 13:26:46.262

**Check Shop Number 78**

In [28]:
df[df['shop_id'] == 78]

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
160,161,78,990,25725,1,credit_card,2017-03-12 05:56:56.834
490,491,78,936,51450,2,debit,2017-03-26 17:08:18.911
493,494,78,983,51450,2,cash,2017-03-16 21:39:35.400
511,512,78,967,51450,2,cash,2017-03-09 07:23:13.640
617,618,78,760,51450,2,cash,2017-03-18 11:18:41.848
691,692,78,878,154350,6,debit,2017-03-27 22:51:43.203
1056,1057,78,800,25725,1,debit,2017-03-15 10:16:44.830
1193,1194,78,944,25725,1,debit,2017-03-16 16:38:25.551
1204,1205,78,970,25725,1,credit_card,2017-03-17 22:32:21.438
1259,1260,78,775,77175,3,credit_card,2017-03-27 09:27:19.843
1384,1385,78,867,25725,1,cash,2017-03-17 16:38:06.279
1419,1420,78,912,25725,1,cash,2017-03-30 12:23:42.551
1452,1453,78,812,25725,1,credit_card,2017-03-17 18:09:54.089
1529,1530,78,810,51450,2,cash,2017-03-29 07:12:01.466
2270,2271,78,855,25725,1,credit_card,2017-03-14 23:58:21.635
2452,2453,78,709,51450,2,cash,2017-03-27 11:04:04.363
2492,2493,78,834,102900,4,debit,2017-03-04 04:37:33.848
2495,2496,78,707,51450,2,cash,2017-03-26 04:38:52.497
2512,2513,78,935,51450,2,debit,2017-03-18 18:57:13.421
2548,2549,78,861,25725,1,cash,2017-03-17 19:35:59.663
2564,2565,78,915,77175,3,debit,2017-03-25 01:19:35.410
2690,2691,78,962,77175,3,debit,2017-03-22 07:33:25.104
2773,2774,78,890,25725,1,cash,2017-03-26 10:36:43.445
2818,2819,78,869,51450,2,debit,2017-03-17 06:25:50.921
2821,2822,78,814,51450,2,cash,2017-03-02 17:13:25.271
2906,2907,78,817,77175,3,debit,2017-03-16 03:45:46.089
2922,2923,78,740,25725,1,debit,2017-03-12 20:10:58.008
3085,3086,78,910,25725,1,cash,2017-03-26 01:59:26.748
3101,3102,78,855,51450,2,credit_card,2017-03-21 05:10:34.147
3151,3152,78,745,25725,1,credit_card,2017-03-18 13:13:07.198
3167,3168,78,927,51450,2,cash,2017-03-12 12:23:07.516
3403,3404,78,928,77175,3,debit,2017-03-16 09:45:04.544
3440,3441,78,982,25725,1,debit,2017-03-19 19:02:53.732
3705,3706,78,828,51450,2,credit_card,2017-03-14 20:43:14.502
3724,3725,78,766,77175,3,credit_card,2017-03-16 14:13:25.868
3780,3781,78,889,25725,1,cash,2017-03-11 21:14:49.542
4040,4041,78,852,25725,1,cash,2017-03-02 14:31:11.566
4079,4080,78,946,51450,2,cash,2017-03-20 21:13:59.919
4192,4193,78,787,77175,3,credit_card,2017-03-18 09:25:31.863
4311,4312,78,960,51450,2,debit,2017-03-01 03:02:10.223
4412,4413,78,756,51450,2,debit,2017-03-02 04:13:38.530
4420,4421,78,969,77175,3,debit,2017-03-09 15:21:34.551
4505,4506,78,866,25725,1,debit,2017-03-22 22:06:00.804
4584,4585,78,997,25725,1,cash,2017-03-25 21:48:43.570
4715,4716,78,818,77175,3,debit,2017-03-05 05:10:43.633
4918,4919,78,823,25725,1,cash,2017-03-15 13:26:46.262

In [15]:
np.std(df['order_amount'])

41278.410888419974